#spum {
	margin: 0;
	padding: 0;
}

#spum li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#spum li a {
	display: block;
	margin: 0;
	padding: 4px 4px;
	background: #FFD;
	text-decoration: none;
}

#spum li a:hover {
	background: #49A3FF;
}

div.pum {
	position: absolute;
	top: 10px;
	left: 10px;
	border: 1px solid #BBB;
	border-radius: 3px;
	box-shadow: 0 0 5px #888;
}