#container{
	position: relative;
}

#container a > * {
	pointer-events: none;
}

#note {
	padding: 1rem;
	border: 1px dashed #CCC;
	overflow-wrap: break-word;
}

#note td, #note th {
	border: 1px solid #BBB;
	padding: 3px;
}
#note th {
	background-color: #F4F4F4;
}

/* ============================  ranger star rating
*/
.rated {
	float: right;
	margin-top: 8px;
	display: inline-flex;
}
#ratep {
	font-size: 1.1rem;
}
#ratep.active {
	cursor: pointer;
}
.rrating {
	--dir: right;
	--fill: gold;
	--fillbg: rgba(100, 100, 100, 0.15);
	--heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
	--star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
	--stars: 5;
	--starsize: 1.5rem;
	--symbol: var(--star);
	--value: 1;
	--w: calc(var(--stars) * var(--starsize));
	--x: calc(100% * (var(--value) / var(--stars)));
	background-color: transparent;
	margin: 0.5rem 0;
	block-size: var(--starsize);
	inline-size: var(--w);
	position: relative;
	touch-action: manipulation;
	-webkit-appearance: none;
}
[dir="rtl"] .rrating {
	--dir: left;
}
.rrating::-moz-range-track {
	background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
	block-size: 100%;
	mask: repeat left center/var(--starsize) var(--symbol);
}
.rrating::-webkit-slider-runnable-track {
	background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
	block-size: 100%;
	mask: repeat left center/var(--starsize) var(--symbol);
	-webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.rrating::-moz-range-thumb {
	height: var(--starsize);
	opacity: 0;
	width: var(--starsize);
}
.rrating::-webkit-slider-thumb {
	height: var(--starsize);
	opacity: 0;
	width: var(--starsize);
	-webkit-appearance: none;
}
.rrating, .rrating-label {
	display: block;
	font-family: ui-sans-serif, system-ui, sans-serif;
}
.rrating-label {
	margin-block-end: 1rem;
}

/* ============================  star rating
*/
/*
.rated {
	float: right;
	margin-top: 6px;
}*/
.rating {
	display: none;
	font-size: 24px;
	font-weight: bold;
	color: #3af;
	white-space: nowrap;
}

.rating .star {
	display: inline-block;
	position: relative;
	letter-spacing: 0.05em;
}

.rating .star::before {
	display: inline-block;
	color: #aaa;
	content: '☆';
	width: 1em;
	height: 1em;
}

.rating .star::after {
	display: inline-block;
	position: absolute;
	content: '★';
	top: 0;
	left: 0;
	opacity: 0;
	width: 0;
	height: 0;
	transition: all 0.1s linear;
	overflow-x: hidden;
}

.rating:not([disabled]) .star:hover::after,
.rating .star.active::after {
	opacity: 1;
	width: 1em;
	height: 1.5em;
}
.rating:not([disabled]) .star:hover::after {
	color: gold;
}

.rating .star.active.half::after {
	width: 0.5em;
}


/* ============================ popup for rating an item
*/

#popRate {
	position: absolute;
	top: 3rem;
	right: 8rem;
	background-color: #ced4da;
	padding: 0 .5rem;
	border: 1px solid #AAA;
	border-radius: 5px;
	box-shadow: 0 0 5px #AAA;
}

/* ============================ small static stars in item list
*/
/*.strate {
	display: inline-block;
}
.strback {
	position: relative;
	display: inline-block;
}
.strback::before {
	content: "☆☆☆☆☆";
	color: #CCC;
}
.strating {
	position: absolute;
	top: 0;
	overflow-x: hidden;
	display: flex;
}
.strating::before {
	content: "★★★★★";
	color: #3af;
}
*/


/* ============================ small utility dialog
*/
div.utildlog {
	position: absolute;
	min-width: 300px;
	bottom: 36px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 6px;
	background-color: #DFD;
	border: 2px solid #CCC;
	border-radius: 3px;
	box-shadow: 0 0 5px #D0D0D0;
}
div.utildlog button {
	margin-left: 0.5rem;
}


/* ============================ small popup menu
*/
#spum {
	margin: 0;
	padding: 0;
}

#spum li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#spum li a {
	display: block;
	margin: 0;
	padding: 4px 4px;
	background: #FFD;
	text-decoration: none;
}

#spum li a:hover {
	background: #49A3FF;
}

div.pum {
	position: absolute;
	bottom: 24px;
	left: 40px;
	border: 1px solid #BBB;
	border-radius: 3px;
	box-shadow: 0 0 5px #888;
}


/* ============================ comment modals. etc
*/
#comments-modal .cmnt {
	border-left: 2px solid #BBB;
	padding: 0 .5rem .5rem .5rem;
	margin-bottom: .5em;
}
#comments-modal .cmnthdr {
	font-size: small;
	opacity: .6;
}
#comment-modal textarea {
	width: 100%;
}
.fa-comments.hasem {
	color: cyan;
}

/* ============================ file upload dialog with drag and drop
*/


.pbwrp {
	position:relative;
	border:1px solid #BBB;
	border-radius:3px;
	boxsizing:border-box;
}
.normpb, .chnkpb, .indeterm {
	position: absolute;
	width:0;
	min-height:100%;
/*	z-index:-1;*/
}
.normpb { background-color:#AAD7FD; }
.chnkpb { background-color:#D9D2FF; }
.indeterm { background: #efefef url(indtrm.gif) repeat-x top; }
.pbfinf {
	padding: 3px 4px;
	position:relative;
	z-index: 1;
}
.pbfinf.failure {background-color: #F99}
.pbfinf.success {background-color: #CFC}


div.uplddlog {
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 400px;
	padding: 6px;
	background-color: #CEF;
	border: 1px solid #999;
	border-radius: 3px;
	box-shadow: 0 0 5px #AAA;
}
div.uplddlog input { width: 100% }
#dropArea {
	border: 1px dashed #CCC;
	width: 100%;
	padding: .5em 0;
	margin-bottom: 5px;
	text-align: center;
	border-radius: 5px;
	cursor: auto;
}
#dropArea.hover {
	background-color: #DFD;
	border: 1px solid #999;
	box-shadow: inset 2px 2px 3px #999;
}
.prgwrp {
	border: 1px solid #BBB;
	border-radius: 3px;
}
#totprogress {
	width: 0;
	height: 8px;
	background-color: blue;
/*	background: #eee url("../imgs/progress_t.png") 100% 0 no-repeat;*/
}
#fprogress p {
	display: block;
	padding: 0 0 0 4px;
	line-height: 1.4em;
	margin: 2px 0;
	border: 1px solid #BBB;
	border-radius: 3px;
	font-size: 0.9em;
	background: #eee url("../imgs/progress_f.png") 100% 0 no-repeat;
}
#fprogress p.success {
	background: #0C0 none 0 0 no-repeat;
}
#fprogress p.failure {
	background: #F99 none 0 0 no-repeat;
}
#fprogress .abortX {
	position: absolute;
	top: 3px;
	right: 3px;
	cursor: pointer;
}

@media print {
	header.navigation-bar { display: none; }
	div.crumbs { display: none; }
	div.footer { display: none; }
	img { display: none !important; }
	button.btn { display: none; }
	#note {
		padding: 0;
		border: none;
	}
}


/* RJC DEBUGGING */
.RJDBG {
	background-color: blue;
	color: gold;
	margin: .5rem 0;
	padding: .1rem .5rem;
}
