::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

header.navigation-bar {
	position: relative;
	width: 100%;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack:justify;
	-webkit-box-sizing: border-box;
	padding: 6px 10px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	margin-bottom: 16px;
}

.verdisp {
	margin-left: 10px;
	margin-top: -10px;
	font-size: .8em;
	opacity: 0.6;
}

div.crumbs {
	padding: 0 10px;
	display: inline-block;
}
div.crumbs a {
	margin-right: 8px;
}

div.search {
	display: inline-block;
	margin-right: 16px;
	float: right;
}
div.search input {
	background-color: #FFFFF0;
}
div.search a.dbsrch img {
	vertical-align: text-bottom;
}

.crumbttl {
	margin-left: 10px;
	font-weight:bold;
	font-size: 1.1em;
}

ul {
	list-style: none;
	margin: 10px;
	padding: 0;
}
li.menu {
	height: 36px;
}
li.note {
	height: 30px;
}
li.menu a, li.note a {
	text-decoration:none;
	padding: 2px;
}
li.menu a:hover, li.note a:hover {
	background-color:#CCF;
}


#container a:link {
	text-decoration: none;
}
#container a.act-left:hover {
	color: cyan;
}

#itemsList .note.docu_s {
	display: flex;
}

#itemsList .nav {
	margin-right: .5em;
}





div.menug {
	float: left;
	width: 32px;
	height: 32px;
	margin-right: 6px;
	background-repeat: no-repeat;
	position: relative;
	top: -6px;
}

div.docum {
	background-image: url('../imgs/note.png');
	background-size: cover;
}
div.docum.isecure {
	background-image: url('../imgs/key.png'), url('../imgs/note.png');
	background-size: 32px 32px, cover;
	background-position: 0 0, 0 0;
}
div.foldm {
	background-image: url('../imgs/folder.png');
	background-size: cover;
}
div.foldm.isecure {
	background-image: url('../imgs/locked-folder.png');
	background-size: cover;
}

a.act-left, a.act-right {
	margin-bottom: 0;
/*	display: inline-flex; */
}
a.act-left {
	margin-left: 12px;
}
a.act-right {
	margin-right: 12px;
	float: right;
}

.ttlfield {
	width: 180px;
	font-size: 1.0em;
}
.txtfield {
	/*position: absolute;*/
	width:100%;
	/*width: 400px;*/
	height:310px;
	padding: 6px;
	font-size: 1.0em;
}

#ephrase {
	margin-bottom: 0;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1 {
	color: #404;
	background-color: transparent;
	font-size: 19px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

div.footer {
	border-top: 1px solid #DDD;
	padding-top: 4px;
	background-color:#F8FDCE;
	clear: both;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#body{
	margin: 0 15px 0 15px;
	padding-top: 10px;
	font-size: 14px;
}
#body.hover {
	background-color: #DEF;
}

#body form {
	margin-bottom: 10px;
}

p.footer{
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
}

#container{
	position: relative;
	background-color: #FFF;
	margin: 10px;
	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 8px #D0D0D0;
}

#note table, #note tr, #note td, #note th {
	border: 1px solid #BBB;
}
#note td, #note th {
	padding: 4px 6px;
}

.addattach
{
	background-image: url('../imgs/attach_add.png');
	background-repeat: no-repeat;
	/*margin-left: 20px;*/
	padding-left: 20px;
	/*float:  right;*/
}

/*
div#upldarea {
	position: relative;
	width: 400px;
}
div#dropArea {
	height: 32px;
	border:  1px dashed #CCC;
	text-align: center;
	vertical-align: middle;
}

div.hover {
	background-color: #CFC;
}

div.upldprg {
	position: absolute;
	top: 200px;
	left: 200px;
	line-height:10px;
	padding: 2px;
	border: 1px solid #CCC;
	background-color: white;
}
*/

iframe#aframe {
	width: 100%;
	height: auto;
	background-color: white;
}

div.trapper {
	padding-right: 14px;
	margin-top: 4px;
}

#attachments {
	margin-top: 0.5em;
	padding: 4px;
	background-color: lavender;
}

span.atchlbl
{
	color: blue;
}

span.atchlink
{
	margin-right: 1em;
/*	font-size: 1.2em;*/
}

/* note/folder editor */
.unote-edit {
	position: relative;
}

.unote-edit label {
	/*width: 1%;*/
	white-space: nowrap;
}

.unote-edit input[type='checkbox'] {
	vertical-align: baseline;
}

.unote-edit input+label {
	display: initial;
	margin-left: 0.25em;
}

.unote-buttons {
	position: absolute;
	right: 0;
}

.formLayout
{
   background-color: #f3f3f3;
   border: solid 1px #a1a1a1;
   padding: 10px;
   width: 300px;
   margin: auto;
}

.formLayout label, .formLayout input
{
   display: block;
   width: 120px;
   float: left;
   margin-bottom: 10px;
}

.formLayout label
{
   clear: left;
   text-align: right;
   padding-right: 20px;
}

#jform_title {
	width: 50%;
}

@media print {
	header.navigation-bar { display: none; }
	div.crumbs { display: none; }
	div.footer { display: none; }
  img { display: none !important; }
  button.btn { display: none; }
}

.nicEdit-main {
	background-color: #fff !important;
}

div.utildlog {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 6px;
	background-color: #DFD;
	border: 2px solid #CCC;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 5px #D0D0D0;
}

/* file upload dialog with drag and drop */
div.uplddlog {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 300px;
	padding: 6px;
	background-color: #CEF;
	border: 1px solid #999;
	border-radius: 3px;
	box-shadow: 0 0 5px #AAA;
}
div#dropArea {
	border: 1px dashed #CCC;
	width: 100%;
	padding: .5em 0;
	margin-bottom: 5px;
	text-align: center;
	border-radius: 5px;
	cursor: auto;
}
div#dropArea.hover {
	background-color: #DFD;
	border: 1px solid #999;
	box-shadow: inset 2px 2px 3px #999;
}
div#totprogress {
	width: 100%;
	height: 8px;
	border: 1px solid #BBB;
	border-radius: 3px;
	background: #eee url("../imgs/progress_t.png") 100% 0 no-repeat;
}
#fprogress p {
	display: block;
	padding: 0 0 0 4px;
	line-height: 1.4em;
	margin: 2px 0;
	border: 1px solid #BBB;
	border-radius: 3px;
	font-size: 0.9em;
	background: #eee url("../imgs/progress_f.png") 100% 0 no-repeat;
}
#fprogress p.success {
	background: #0C0 none 0 0 no-repeat;
}
#fprogress p.failure {
	background: #F99 none 0 0 no-repeat;
}
img.abortX {
	float: right;
	/*margin-top: 1px;*/
	cursor: pointer;
}
img.x-att-del {
	cursor: pointer;
}
.idang:hover {
	color:#D55;
}
.idarn {
	color:orange;
}


/* ============================  star rating
*/
.rated {
	float: right;
	margin-top: 6px;
}
.rating {
	display: none;
	font-size: 24px;
	font-weight: bold;
	color: #3af;
	white-space: nowrap;
}

.rating .star {
	display: inline-block;
	position: relative;
	letter-spacing: 0.05em;
}

.rating .star::before {
	display: inline-block;
	color: #aaa;
	content: '☆';
	width: 1em;
	height: 1em;
}

.rating .star::after {
	display: inline-block;
	position: absolute;
	content: '★';
	top: 0;
	left: 0;
	opacity: 0;
	width: 0;
	height: 0;
	transition: all 0.1s linear;
	overflow-x: hidden;
}

.rating:not([disabled]) .star:hover::after,
.rating .star.active::after {
	opacity: 1;
	width: 1em;
	height: 1.5em;
}
.rating:not([disabled]) .star:hover::after {
	color: gold;
}

.rating .star.active.half::after {
	width: 0.5em;
}

/** small static stars in item list **/
.strate {
	display: inline-block;
}
.strback {
	position: relative;
	display: inline-block;
}
.strback::before {
	content: "☆☆☆☆☆";
	color: #CCC;
}
.strating {
	position: absolute;
	top: 0;
	overflow-x: hidden;
	display: flex;
}
.strating::before {
	content: "★★★★★";
	color: #3af;
}


/* ============================ small popup menu
*/
#spum {
	margin: 0;
	padding: 0;
}

#spum li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#spum li a {
	display: block;
	margin: 0;
	padding: 4px 4px;
	background: #FFD;
	text-decoration: none;
}

#spum li a:hover {
	background: #49A3FF;
}

div.pum {
	position: absolute;
	bottom: 24px;
	left: 40px;
	border: 1px solid #BBB;
	border-radius: 3px;
	box-shadow: 0 0 5px #888;
}
