<?xml version="1.0" encoding="utf-8"?>
<config>

	<fieldset name="component" addfieldpath="/administrator/components/com_usernotes/models/fields">

		<field name="storQuota" type="GmkbValue"
			label="COM_USERNOTES_CONFIG_QUOTA_LABEL"
			description="COM_USERNOTES_CONFIG_QUOTA_DESC"
			default="0"
			filter="integer"
			compdef="134217728" />

		<field name="maxUpload" type="GmkbValue"
			label="COM_USERNOTES_CONFIG_MAXUPLD_LABEL"
			description="COM_USERNOTES_CONFIG_MAXUPLD_DESC"
			default="0"
			filter="integer"
			compdef="4194304" />

		<field
			name="hide_secure"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_USERNOTES_CONFIG_HIDSECUR_LABEL"
			description="COM_USERNOTES_CONFIG_HIDSECUR_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field name="secureurl" type="text"
			label="COM_USERNOTES_CONFIG_SECURL_LABEL"
			description="COM_USERNOTES_CONFIG_SECURL_DESC"
			default="" />

		<field name="standard_skin" type="list" default=""
			label="COM_USERNOTES_CONFIG_SKIN_LABEL"
			description="COM_USERNOTES_CONFIG_SKIN_DESC"
		>
			<option value="">-default-</option>
			<option value="_flat">Flat</option>
			<option value="_glossy">Glossy</option>
			<option value="_classic">Classic</option>
		</field>

		<field
			name="show_version"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="COM_USERNOTES_CONFIG_SHOWVER_LABEL"
			description="COM_USERNOTES_CONFIG_SHOWVER_DESC"
		>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="version" type="hidden" default="x.x.x" />

	</fieldset>

	<fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_usernotes"
			section="component" />

	</fieldset>

</config>
